<!DOCTYPE html>

<html>
<head>
    <script src="~/js/core/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="~/js/core/jquery-ui.js"></script>
    <script src="~/js/Gformat.js"></script>
    <link href="~/css/core/jquery-ui.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="~/css/styles.css" rel="stylesheet">



    <link href="~/vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="~/vendors/select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/vendors/tags/css/bootstrap-tags.css" rel="stylesheet">
    <link href="~/css/databale-css.css" rel="stylesheet" />
    <link href="~/css/forms.css" rel="stylesheet">
    <link href="~/js/Gcontrols.css" rel="stylesheet" />


    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        
            @RenderBody()
           
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

        <script src="~/js/core/jquery.js"></script>
        <!-- jQuery UI -->
        <script src="~/js/core/jquery-ui.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
     
        <script src="~/vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>

        <script src="~/vendors/select/bootstrap-select.min.js"></script>

        <script src="~/vendors/tags/js/bootstrap-tags.min.js"></script>

        <script src="~/vendors/mask/jquery.maskedinput.min.js"></script>

        <script src="~/vendors/moment/moment.min.js"></script>

        <script src="~/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>


    <script src="~/vendors/jquery.knob.js"></script>
    <script src="~/vendors/raphael-min.js"></script>
    <script src="~/vendors/morris/morris.min.js"></script>

    <script src="~/vendors/flot/jquery.flot.js"></script>
    <script src="~/vendors/flot/jquery.flot.categories.js"></script>
    <script src="~/vendors/flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/flot/jquery.flot.time.js"></script>
    <script src="~/vendors/flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/flot/jquery.flot.resize.js"></script>

        <!-- bootstrap-datetimepicker -->
        <link href="~/vendors/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">
        <script src="~/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/js/jquery-dataTable.js"></script>
    <script src="~/js/bootstrap-datatable.js"></script>
        <script src="~/js/jquery.validate.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script>0
        <script src="~/js/custom.js"></script>
        <script src="~/js/forms.js"></script>
        <script src="~/js/stats.js"></script>

    
       
</body>
</html>
