
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}


   
<div class="col-md-9">

    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Customer Distribution</div>

            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div id="hero-bar" style="height: 230px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="hero-donut" style="height: 230px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="hero-donut2" style="height: 230px;"></div>
                </div>
            </div>
        </div>
    </div>


</div>

